body{  
    background-color: violet;
    color:white;
    margin: 0px;
    font-family: "Zilla Slab", serif;
}

header{
  border-bottom: solid 2px white; 
  padding: 20px;
  font-size: 32px;
  color:white;
}
section{
  background-color: pink;
  padding-top: 80px;
  padding-bottom: 80px;
  display:flex;
  justify-content: center;
}


.chamada-texto{
  margin-right: 5%;
}